 <footer>
		<div class="footer">
		<div class="footer-inner">
    <div class="footer-top">
    <div class="footer-top-left">
      <div class="logofoot">
			<a href="/"><img src="/static/css/img/logo2.png" alt=""></a>
      <p>개인정보처리방침 이용약관 고객센터 환불정책</p>
		</div>
    </div>
    <div class="footer-top-right">
      <div class="sns">
			<a href="#" target="_blank" title="">
				<img src="/static/css/img/instagram.png" alt="Instargram">
			</a>
			<a href="#" target="_blank" title="">
				<img src="/static/css/img/facebook.png" alt="Facebook">
			</a>
			<a href="#" target="_blank" title="">
				<img src="/static/css/img/linkedin-in.png" alt="Linkedin">
			</a>
			<a href="https://github.com/ghtjd1358/hypeboy.git" target="_blank" title="github" class="github">
				<img src="/static/css/img/github-mark-white.png" alt="github">
			</a>
		</div>
    </div>
	</div>
			<div class="footer-bottom">
        <div class="footer-bottom-left">
            <p>(주)제2조 | 조장 : 손호성 | 사업자 번호 : 010-9500-2663 | 코딩판매업 : 제 2022-서울마포-1241호</p>
            <p>
              Git <i class="bi bi-git"></i>
               : https://github.com/ghtjd1358/hypeboy.git | 전화 : 070-9500-2663
            </p>
            <p>
              주소 : 서울특별시 마포구 숭문 4길 6 스트레틱스 염리 사옥 4층
            </p>
            <p style="margin-top: 5px;">
              	@ 2023 KDT PROJECT 2조
            </p>
        </div>
         <div class="footer-bottom-right">
							<ul class="footer-ul">
								<li><a href="/computer">컴퓨터</a></li>
								<li><a href="/kiosk">편의시설</a></li>
								<li><a href="/culture">문화생활</a></li>	
								<li><a href="/community">게시판</a></li>
							</ul>
         </div>
			</div>			
  </div>
	</footer>
