
a {
  color: var(--color-black-5);
}

body {
  color: var(--color-black-5);
}

h3 {
  font-size: 2.5rem;
  margin: 160px auto 60px;
}

p{
  font-size: 1.5rem;
  text-align: center;
}

button{
  cursor: url(./img/pointer.png) 10 10, auto;
}

/* section */
section {
  transition: all 0.6s ease-in-out;
}

.up {
  transform: translateY(20%);
  transition: all 0.6s ease-in-out;
}

.wrap{
  width: 100%;
  height: auto;
}

/*---------------- 키오스크 설명------------------ */
.kiosk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}


.kiosk p {
  margin-bottom: 50px;
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.56), 0 3px 6px rgba(0, 0, 0, 0.63);
  height: 80vh;
  width: 80%;
  position: relative;
  overflow: hidden;
  z-index: -1;
  background-color: var(--color-white-0);
}

.slide {
  display: flex;
  position: absolute;
  opacity: 0;
  height: 80vh;
  width: 80vw;
  transition: 0.7s ease; 
}

.slide-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.slide.active {
  opacity: 1;
}

.slide-left{
  width: 40vw;
  height: 100%;
  background: url('/static/css/img/airplane.jpg') no-repeat center bottom;
  position: relative;
  background-size: 100% 100%;
  z-index: -2;
  
}

.res {
  width: 40vw;
    height: 100%;
  background: url('/static/css/img/restaurant.jpg') no-repeat center bottom;
  position: relative;
    background-size: 100% 100%;
    z-index: -2;
}

.bank {
  width: 40vw;
    height: 100%;
  background: url('/static/css/img/bank.jpg') no-repeat center bottom;
  position: relative;
    background-size: 100% 100%;
    z-index: -2;
}

.hos {
    width: 40vw;
      height: 100%;
  background: url('/static/css/img/hosp.jpg') no-repeat center bottom;
  position: relative;
    background-size: 100% 100%;
    z-index: -2;
}


.slide-right {
  text-align: center;
  width: 40vw;
  height: 100%;
}

.slide-right h4{
  font-size: 2rem;
  margin: 15% 0 10% 0;
}
.slide-right p {
  text-align: center;
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
  line-height: 2.5rem;
  word-spacing: 0.1rem;
}

.arrow {
  position: absolute;
  padding: 20px;
  font-size: 2rem;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.56), 0 3px 6px rgba(0, 0, 0, 0.63);
}


.left-arrow {
  left: 5%;
}

.right-arrow {
  right: 5%;
}

/* indicator */
.indi{
  display: flex;
}

.indi > li{
  width: 1.3rem;height: 1.3rem;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.56), 0 3px 6px rgba(0, 0, 0, 0.63);
  margin: 20px 10px 0;
  cursor: pointer;
}

.indi .on{
  background-color: var(--color-black-5);
}
/* 키오스크 영상 */
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container {
  margin-top: 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.56), 0 3px 6px rgba(0, 0, 0, 0.63);
  height: 80vh;
  width: 80vw;
  position: relative;
  overflow: hidden;
  background-color: var(--color-white-0);
}

/* 키오스크 튜토리얼 */
.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.56), 0 3px 6px rgba(0, 0, 0, 0.63);
  height: 80vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white-0);
}

.gamebox{
  width: 30vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.56), 0 3px 6px rgba(0, 0, 0, 0.63);
  cursor: url(./img/pointer.png) 10 10, auto;
}

.gamebox:hover {
  animation: shadow-inset-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.shadow-inset-center {
  -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-29 17:42:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-inset-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

@keyframes shadow-inset-center {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

